footer.footer
    .footer__logo 
        img(src='img/burger.png' alt='burger logo')
    ul.footer__nav 
        li: a(href='#') About us
        li: a(href='#') Down the apps
        li: a(href='#') Work wit us
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer__copyright &copy; by Jonas Schmedtmann.