header.header
    nav.nav.nav--tours
        a.nav__el(href="#") Our Menu
    .header__logo
        img(src='img/burger.png' alt='burger logo')
    nav.nav.nav--user 
        //- a.nav__el(href="#") My bookings 
        //-     img.nav__user-image(src='img/iser.png', alt='User photo')
        //-     span Jonas
        button.nav__el Log in
        button.nav__el.nav__el--cta Sign up 